<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/15109be9-9dca-4b05-9b8e-20c01b22f2da/resourceGroups/MyTourismRes/providers/Microsoft.Web/sites/MyTourismApi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mytourismapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ff013e35-a1ba-4710-ab01-6aeee7b73d0d</ProjectGuid>
    <PublishUrl>https://mytourismapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MyTourismApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>